/* Resetando margens e preenchimentos padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do body */
body {
  font-family: Arial, sans-serif;
  background-color: #1e2028;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Container principal do formulário */
.container {
  max-width: 400px;
  background-color: #2d3038;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;  /* Garantir que o container não ultrapasse o tamanho máximo */
}

/* Título do formulário */
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #ffffff;
}

/* Estilo do formulário */
form {
  display: grid;
  grid-gap: 20px;
}

/* Estilo das labels */
label {
  font-weight: bold;
  color: #ffffff;
}

/* Estilo dos campos de entrada (input) e select */
input, select {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3a3e47;
  color: #ffffff;
  font-size: 16px;
  width: 100%; /* Para os campos preencherem toda a largura disponível */
  box-sizing: border-box; /* Certificar-se de que o padding não afetará o tamanho */
}

/* Estilo do botão */
button {
  background-color: #e91e63;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Efeito de hover no botão */
button:hover {
  background-color: #c2185b;
}

/* Estilo para inputs de tipo telefone */
input[type="tel"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
